@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    /*
  These are the styles from DaisyUI needed
  for the scroll bar colours
  */
    :root {
        /* Default is Dark */
        --primary: theme('colors.gray.800');
        --secondary: theme('colors.primary.500');
        /*--pswp-bg: var(--secondary);*/
        /*--pswp-placeholder-bg: #222;*/
        /*--pswp-root-z-index: 100000;*/
        /*--pswp-preloader-color: rgba(79, 79, 79, 0.4);*/
        /*--pswp-preloader-color-secondary: rgba(255, 255, 255, 0.9);*/

        /* defined via js: */
        /*--pswp-transition-duration: 333ms;*/
        /*--pswp-icon-color: #fff;*/
        /*--pswp-icon-color-secondary: #4f4f4f;*/
        /*--pswp-icon-stroke-color: #4f4f4f;*/
        /*--pswp-icon-stroke-width: 2px;*/
        /*--pswp-error-text-color: var(--pswp-icon-color);*/
    }

    *::selection {
        background: var(--secondary);
        color: var(--primary)
    }

    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--secondary) var(--primary);
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: var(--primary);
        border-radius: 0;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--secondary);
        border-radius: 5px;
        border: 2px solid var(--primary);
    }

    *::selection {
        @apply bg-primary-100 text-primary-600;
    }


    .heading-1 {
        @apply text-4xl font-black sm:text-5xl text-gray-900 dark:text-white tracking-tight;
    }

    .heading-2 {
        @apply text-3xl font-black sm:text-5xl text-gray-900 dark:text-white tracking-tight;
    }

    .heading-3 {
        @apply text-3xl font-extrabold sm:text-4xl text-gray-900 dark:text-white tracking-tight;
    }

    .heading-4 {
        @apply text-lg font-extrabold sm:text-xl text-gray-900 dark:text-white tracking-tight;
    }

    .hover-underline {
        @apply hover:underline underline-offset-8 decoration-wavy isolate z-10 decoration-gray-300/10 hover:decoration-primary-500 decoration-1 inline-block relative;
    }


}


@layer components {
    .wrapper {
        @apply w-full max-w-7xl px-4 md:px-6 lg:px-8 mx-auto;
    }

    .panel {
        @apply bg-gray-100 dark:bg-gray-800 border border-gray-200 dark:border-gray-800 text-gray-700 dark:text-gray-200 p-4 rounded-global my-4 md:my-6 space-y-4;
    }

    .panel-heading {
        @apply text-lg font-medium text-gray-900 dark:text-gray-100;
    }

    .panel-text {
        @apply mt-1 text-sm text-gray-600 dark:text-gray-400;
    }

    .loader {
        @apply relative z-10 w-full block mb-4 h-[4px] bg-gray-100 dark:bg-gray-700 shadow-inner shadow-black/20 rounded-full isolate after:content-[''] before:content-[''];
    }

    .loader:after {
        @apply w-1/2 h-full absolute block rounded-full bg-primary-500 top-0 left-0 animate-slide-fast z-20;
    }

    .loader:before {
        @apply w-1/2 translate-x-1/2 h-full absolute block rounded-full bg-tertiary-500 top-0 left-0 animate-slide-fast z-10;
        animation-delay: 0.1s;
    }


    .btn {
        @apply inline-flex items-center px-4 py-2 rounded-global font-semibold text-xs uppercase tracking-widest transition ease-in-out duration-150 disabled:opacity-25 focus:outline-none focus:ring-2;
    }

    .btn-gradient {
        @apply inline-flex items-center bg-gradient-to-b from-primary-600 to-secondary-400 border border-transparent rounded-global font-semibold text-xs  uppercase tracking-widest hover:to-secondary-300 focus:to-secondary-300 active:to-secondary-300 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 transition ease-in-out duration-150 text-shadow text-white;
    }

    .btn-primary {
        @apply bg-gray-800 dark:bg-gray-200 border-transparent text-white dark:text-gray-800 hover:bg-gray-700 dark:hover:bg-white focus:bg-gray-700 dark:focus:bg-white active:bg-gray-900 dark:active:bg-gray-300 focus:ring-primary-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800;
    }


    .btn-secondary {
        @apply bg-transparent border border-black dark:border-gray-500/10 text-gray-700 dark:text-gray-300 shadow-sm hover:bg-gray-50 dark:hover:bg-gray-950/50  focus:ring-primary-500/10 focus:ring-offset-2 dark:focus:ring-offset-gray-800;
    }

    .image-mask-none {
        mask-image: none;
    }

    .btn-danger {
        @apply bg-red-600 border border-transparent text-white hover:bg-red-500 active:bg-red-700 focus:ring-red-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800;
    }

    .mouse-light {
        @apply relative;
        --mouse-x: 0;
        --mouse-y: 0;
        --light: rgba(14, 165, 233, 0.10);
        --light-size: 300px;
    }

    .dark .mouse-light {
        --light: rgba(75, 155, 255, 0.25)
    }

    .mouse-light:hover::before {
        opacity: 1;
        --light-size: 300px;
    }

    .mouse-light::before {
        --light-size: 10px;
        content: "";
        background: radial-gradient(var(--light-size) circle at var(--mouse-x) var(--mouse-y), var(--light), transparent);
        filter: saturate(150%);
        height: 100%;
        width: 100%;
        z-index: 10;
        border-radius: inherit;
        position: absolute;
        opacity: 0;
        transition-duration: 250ms;
        pointer-events: none;
        top: 0;
        left: 0;
        transform-origin: center;
    }


    .pswp__img {
        @apply rounded-global;
    }

    .pswp__bg {
        --pswp-bg: theme('colors.gray.100');
        --pswp-placeholder-bg: #222;
        --pswp-root-z-index: 100000;
        --pswp-preloader-color: rgba(79, 79, 79, 1);
        --pswp-preloader-color-secondary: rgba(255, 255, 255, 0.9);
        --pswp-icon-color: theme('colors.gray.900');


        --pswp-icon-color-secondary: #4f4f4f;
        --pswp-icon-stroke-color: #4f4f4f;
        --pswp-icon-stroke-width: 2px;
        --pswp-error-text-color: theme('colors.red.600');
    }

    .dark .pswp__bg {
        --pswp-bg: theme('colors.gray.900');
    }


    .pswp__custom-caption {
        @apply bg-primary-500/10 backdrop-blur-lg text-white text-shadow max-w-2xl px-8 py-4 absolute left-1/2 -translate-x-1/2 bottom-4 rounded-global inline-flex border border-white shadow-xl;

    }

    .pswp__custom-caption a {
        color: #fff;
        text-decoration: underline;
    }

    .hidden-caption-content {
        display: none;
    }


    /* purgecss ignore */
    .img-zoom-container {
        position: relative;
    }

    .splide__track--nav > .splide__list > .splide__slide {
        border: 3px solid transparent;
        cursor: pointer;
        opacity: .7;
    }

    .splide__track--nav > .splide__list > .splide__slide.is-active {
        border: 3px solid theme('colors.primary.500');
        opacity: 1;
    }

    .splide__arrow {
        -ms-flex-align: center;
        align-items: center;
        background: transparent;
        border: 0;
        border-radius: 0;
        cursor: pointer;
        display: -ms-flexbox;
        display: flex;
        height: 2.5em;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2.5em;
        z-index: 1;
    }

    .splide__arrow svg {
        fill: theme('colors.primary.500');
        height: 1rem;
        transition: fill .2s linear;
        width: 1rem;
    }

    .splide__arrow:hover:not(:disabled) svg {
        fill: theme('colors.primary.700');
    }

    .splide__arrow:disabled {
        opacity: .3;
    }

    .splide__arrow:focus-visible {
        outline: 3px solid theme('colors.primary.500');
        outline-offset: 6px;
    }

    .splide__arrow--prev {
        left: 1em;
    }

    .splide__arrow--prev svg {
        transform: scaleX(-1);
    }

    .splide__arrow--next {
        right: 1em;
    }

    .splide.is-focus-in .splide__arrow:focus {
        outline: 2px solid theme('colors.primary.500');
        border-radius: theme('borderRadius.md');
        outline-offset: 6px;
    }

    .splide__pagination {
        bottom: -1.25em;
        left: 0;
        padding: 0 1em;
        position: absolute;
        right: 0;
        z-index: 1
    }

    .splide__pagination__page {
        @apply bg-gray-200 dark:bg-gray-800;
        border: 0;
        border-radius: 3px;
        display: inline-block;
        height: 6px;
        margin: 6px;
        padding: 0;
        position: relative;
        transition: background-color .1s linear, transform .1s linear;
        width: 30px
    }

    .splide__pagination__page.is-active {
        background: theme('colors.primary.500');
        transform: scale(1.4);
        z-index: 1
    }

    .splide__pagination__page:hover {
        background: theme('colors.primary.500');
        cursor: pointer;
        opacity: .9
    }

    .splide__pagination__page:focus-visible {
        outline: 1px solid theme('colors.primary.500/50');
        outline-offset: 3px
    }

    .splide.is-focus-in .splide__pagination__page:focus {
        outline: 1px solid theme('colors.primary.500/50');
        outline-offset: 3px
    }

    .splide__container {
        box-sizing: border-box;
        position: relative
    }

    .splide__list {
        backface-visibility: hidden;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        margin: 0 !important;
        padding: 0 !important
    }

    .splide.is-initialized:not(.is-active) .splide__list {
        display: block
    }

    .splide__pagination {
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
        pointer-events: none
    }

    .splide__pagination li {
        display: inline-block;
        line-height: 1;
        list-style-type: none;
        margin: 0;
        pointer-events: auto
    }

    .splide:not(.is-overflow) .splide__pagination {
        display: none
    }

    .splide__progress__bar {
        width: 0
    }

    .splide {
        position: relative;
        visibility: hidden
    }

    .splide.is-initialized, .splide.is-rendered {
        visibility: visible
    }

    .splide__slide {
        backface-visibility: hidden;
        box-sizing: border-box;
        flex-shrink: 0;
        list-style-type: none !important;
        margin: 0;
        position: relative
    }

    .splide__slide img {
        vertical-align: bottom
    }

    .splide__spinner {
        animation: splide-loading 1s linear infinite;
        border: 4px solid theme('colors.primary.500');
        border-left-color: transparent;
        border-radius: 50%;
        bottom: 0;
        contain: strict;
        display: inline-block;
        height: 20px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 20px
    }

    .splide__sr {
        clip: rect(0 0 0 0);
        border: 0;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px
    }

    .splide__toggle.is-active .splide__toggle__play, .splide__toggle__pause {
        display: none
    }

    .splide__toggle.is-active .splide__toggle__pause {
        display: inline
    }

    .splide__track {
        overflow: hidden;
        position: relative;
        z-index: 0
    }

    @keyframes splide-loading {
        0% {
            transform: rotate(0)
        }
        to {
            transform: rotate(1turn)
        }
    }

    .splide__track--draggable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    .splide__track--fade > .splide__list > .splide__slide {
        margin: 0 !important;
        opacity: 0;
        z-index: 0
    }

    .splide__track--fade > .splide__list > .splide__slide.is-active {
        opacity: 1;
        z-index: 1
    }

    .splide--rtl {
        direction: rtl
    }

    .splide__track--ttb > .splide__list {
        display: block
    }

    .splide__progress__bar {
        background: #ccc;
        height: 3px;
    }

    .splide__slide {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        border-radius: theme('borderRadius.global');
    }

    .splide__slide:focus {
        outline: 0;
        border-radius: theme('borderRadius.global');
    }

    @supports (outline-offset:-3px) {
        .splide__slide:focus-visible {
            outline: 3px solid theme('colors.primary.500');
            border-radius: theme('borderRadius.global');
            outline-offset: -3px
        }
    }

    @media screen and (-ms-high-contrast: none) {
        .splide__slide:focus-visible {
            border: 3px solid theme('colors.primary.500');
            border-radius: theme('borderRadius.global');
        }
    }
    @supports (outline-offset:-3px) {
        .splide.is-focus-in .splide__slide:focus {
            outline: 3px solid theme('colors.primary.500');
            outline-offset: -3px
        }
    }

    @media screen and (-ms-high-contrast: none) {
        .splide.is-focus-in .splide__slide:focus {
            border: 3px solid theme('colors.primary.500');
        }

        .splide.is-focus-in .splide__track > .splide__list > .splide__slide:focus {
            border-color: theme('colors.primary.500');
        }
    }
    .splide__toggle {
        cursor: pointer
    }

    .splide__toggle:focus-visible {
        outline: 3px solid theme('colors.primary.500');
        outline-offset: 6px
    }

    .splide.is-focus-in .splide__toggle:focus {
        outline: 3px solid theme('colors.primary.500');
        outline-offset: 6px;
    }

    .splide__arrows--rtl .splide__arrow--prev {
        left: auto;
        right: 1em;
    }

    .splide__arrows--rtl .splide__arrow--prev svg {
        transform: scaleX(1);
    }

    .splide__arrows--rtl .splide__arrow--next {
        left: 1em;
        right: auto;
    }

    .splide__arrows--rtl .splide__arrow--next svg {
        transform: scaleX(-1);
    }

    .splide__arrows--ttb .splide__arrow {
        left: 50%;
        transform: translate(-50%);
    }

    .splide__arrows--ttb .splide__arrow--prev {
        top: 1em
    }

    .splide__arrows--ttb .splide__arrow--prev svg {
        transform: rotate(-90deg);
    }

    .splide__arrows--ttb .splide__arrow--next {
        bottom: 1em;
        top: auto
    }

    .splide__arrows--ttb .splide__arrow--next svg {
        transform: rotate(90deg);
    }

    .splide__pagination--ttb {
        bottom: 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        left: auto;
        padding: 1em 0;
        right: .5em;
        top: 0;
    }

    /*
    * Styles for react select
     */
    .react-select-container {
        @apply rounded-global bg-yellow-500;
    }


}
